body {
  background: #01040d;
  color: #0aff45;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 25%;
}

button {
  background: #0aff45;
  color: #01040d;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
